---
import { SEO } from "astro-seo";

import "@/layouts/layout.css";
import Header from "./Header.astro";
import Footer from "../Footer.astro";

interface Props {
  title?: string;
  description?: string;
  canonical?: string;
}

const defaultTitle = "Peskom Guide";
const defaultDescription =
  "Temukan panduan belajar berbagai macam topik teknologi di Peskom Guide! Kumpulan panduan yang dibuat dari sarjana komedi, oleh sarjana komedi, dan untuk sarjana komedi. Cocok untuk mahasiswa dan lulusan IT yang gak bisa ngoding.";
const baseUrl = Astro.url.origin;

const {
  title,
  description = defaultDescription,
  canonical = baseUrl,
} = Astro.props as Props;

const fullTitle = title ? `${title} | ${defaultTitle}` : defaultTitle;
---

<!doctype html>
<html lang="id" class="theme-dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/ico" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <SEO title={fullTitle} description={description} canonical={canonical} />
  </head>
  <body class="transition-all duration-300 ease-in-out">
    <Header />
    <!-- offset -->
    <div
      class="h-[var(--layout-offset-height)] max-md:h-[calc(var(--layout-offset-height)*0.6)]"
    >
    </div>
    <div class="grid grid-cols-[1fr_minmax(auto,880px)_1fr] gap-4">
      <main class="col-start-2">
        <slot />
      </main>
    </div>
    <Footer />
  </body>
</html>
